In [2]:
#1> Swap the following two tuples
# Input: tuple1 = (11, 22)
#            tuple2 = (99, 88)
# Output: tuple1 = (99, 88)
#              tuple2 = (11, 22)
t1 = (11,22)
t2 = (33,44)
t1,t2 = t2,t1
print(t1)
print(t2)

(33, 44)
(11, 22)

In [5]:
# 2> Copy element 44 and 55 from the following tuple into a new tuple
# Input: tuple1 = (11, 22, 33, 44, 55, 66)
# Output: tuple2: (44, 55)
t1 = (11,22,33,44,55,66,77,88)
t2=()
t2 = list(t2)
t2.append(t1[3])
t2.append(t1[4])
t2 = tuple(t2)
print(t2)

(44, 55)

In [8]:
# 3> Modify the first item (22) of a list inside a following tuple to 222
# Input: tuple1 = (11, [22, 33], 44, 55)
# Output: tuple1: (11, [222, 33], 44, 55)
t1 = (11, [22, 33], 44, 55)
t1[1][0] = 222
print(t1)

(11, [222, 33], 44, 55)

In [9]:
# 4> Counts the number of occurrences of item 50 from a tuple
# Input: tuple1 = (50, 10, 60, 70, 50), Output:2
t1 = (50, 10, 60, 70, 50)
sum = 0
for i in range(len(t1)):
    if t1[i] == 50:
        sum+=1
print(sum)

2

In [11]:
# 5> Check if all items in the following tuple are the same
t1 = (11,22,33,44,5,66,77)
t2 = (11,22,33,44,55,66,77)
for i in range(len(t1)):
    if t1[i] != t2[i]:
        print("not equal")
        break
if i == len(t1)-1:
    print("Equal")

not equal